body { background: #622c36; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-cache-0 { color: #6ea82; font-size: 12px; margin-bottom: 5px; }
.block-config-1 { color: #f19105; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #b76fe8; font-size: 15px; margin-bottom: 5px; }
.block-token-3 { color: #168dc1; font-size: 12px; margin-bottom: 5px; }
.block-email-4 { color: #e80add; font-size: 16px; margin-bottom: 5px; }
.block-sms-5 { color: #2885d3; font-size: 16px; margin-bottom: 5px; }